html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
    padding: 1em 2em;
}

.brand {
    color: white;
    font-size: 35px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-links li {
    display: inline;
    font-size: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: grey;
}
