.folders-page {
    display: flex;
    flex-direction: column;
    /* background-color: #222831; */
    color: white;
    height:max-content;
    z-index: -100;
}

.container {
    display: flex;
    flex: 1;
    margin: 0 5%;
}

.left-container {
    margin-top: 30px;
    width: 400px;
    background: #393e46;
    border-radius: 5px;
    text-align: center;
    height: 300px;
    position: relative;
    padding:2em;
    outline: 3px black solid;
    
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.left-container::after, .left-container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 10%,white, black);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 7px;
    border-radius: 10px;
    animation: 3s moveBorder linear infinite;
}

.left-container::before{
    filter: blue(1.5rem);
    opacity: .5;
}

@keyframes moveBorder {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}




.left-container h1 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.folder-grid-container {
    width: 70%;
    align-items: center;
    margin-left: 20px;
}

.folders-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
}
.input-spacing {
    margin-bottom: 5px;
    outline: 1px black solid;
}

.loader {
    border: 2px solid #f3f3f3;
    /* Light grey */
    border-top: 2px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    margin-left: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.create-folder-btn {
    padding: 10px;
    margin-top: 20px;
    background-color: #008a90;
    color: white;
    border: none;
    border-radius: 3px;
    outline: black 1px solid;
}

.create-folder-btn:hover {
    cursor: pointer;
    background-color: #0a5357;
}

.form-group input {
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
}
