body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.fa-google{
    padding-right: 5px;
}

.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: auto;
    border: 1px solid #ddd;
    
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

.fb-button {
    background-color: #3B5998;
}

.google-button {
    background-color: #dd4b39;
}

.form-footer {
    color: #777;
    padding: 12px;
}